footer {
    position: relative;

    width: 100%;
    height: 60px;

    bottom: 0;
}



.social_links {
    position: relative;
    
    width: 200px;
    height: 30px;

    float: left;
    display: flex;
    
    top: 15px;
    left: 2%;

    color: white;
    font-size: 30px;

    gap: 50px;
}

.fa-github {
    position: absolute;
    top: 0;
    color: white;
}

.fa-instagram {
    position: absolute;
    top: 0;
    color: white;
}

.fa-dribbble {
    position: absolute;
    top: 0;
    color: white;
}

.fa-twitter {
    position: absolute;
    top: 0;
    color: white;
}

.fa-github:hover, .fa-instagram:hover, .fa-dribbble:hover, .fa-twitter:hover {
    color: #cc6699;
}

.rightside_cc {
    position: relative;
    
    width: 300px;
    height: 30px;

    display: flex;
    float: right;

    /* margin-left: 1500px; */
    top: 15px;
    right:  2%;

    align-items: center;
}

.rightside_cc p {
    font-size: 15px;
}