@media screen and (max-width: 1280px) and (max-height: 720px) {
    .container {
        width: 1280px;
        height: 720px;
    }
    html, body {
        max-width: 1280px;
        max-height: 910px;
    }
    nav {
        position: fixed;
        width: 1280px;
    }
    ul {
        position: absolute;

        left: 900px;
    }
    .homepage {
        position: absolute;

        left: 100px;
    }
    footer {
        position: absolute;
        width: 1280px;
        top: 100%;
    }
    .right-side_c {
        position: absolute;

        left: 900px;
    }
}



@media screen and (max-width: 1024px){
    .container {
        width: 1024px;
        height: 1280px;
    }
    nav {
        position: absolute;

        width: 1024px;
    }
    ul {
        position: absolute;

        left: 750px;
    }
    .homepage {
        position: absolute;

        height: 600px;
        top: 300px;
        left: 10px;
    }
    footer {
        position: absolute;
        width: 1024px;
        top: 100%;
    }
    .right-side_c {
        position: absolute;

        left: 780px;
    }
}



@media screen and (max-width: 900px) and (max-height: 1280px){
    .container {
        width: 900px;
        height: 1280px;
    }
    nav {
        position: fixed;

        width: 900px;
    }
    ul {
        position: absolute;

        left: 630px;
    }
    .homepage {
        position: absolute;
        width: 900px;

        left: 0px;
    }
    .left-side_home-page {
        position: absolute;
        width: 400px;
    }
    .right-side_home-page {
        position: absolute;
        width: 490px;

        left: 400px;
    }
    .right-side_home-page img {
        width: 490px;
    }
    footer {
        position: absolute;

        width: 900px;
    }
    .right-side_c {
        position: absolute;

        left: 650px;
    }
}

@media screen and (max-width: 834px) and (max-height: 1194px) {
    .container {
        width: 834px;
        height: 1194px;
    }
    .homepage {
        position: absolute;
        width: 800px;
        left: 2%;
    }
    nav {
        position: absolute;
        width: 834px;
    }
    ul {
        left: 550px;
    }
    .right-side_home-page {
        width: 400px;
    }
    .right-side_home-page img {
        width: 400px;
    }
    footer {
        position: absolute;
        width: 834px;
    }
    .right-side_c {
        position: absolute;
        left: 550px;
    }
}

@media screen and (max-width: 820px) and (max-height: 1280px){
    .container {
        width: 820px;
        height: 1080px;
    }
    .left-side_logo-name {
        position: fixed;
    }
    nav {
        position: fixed;
        width: 820px;
    }
    ul {
        left: 530px;
    }
    .homepage {
        position: absolute;
        width: 800px;
    }
    .left-side_home-page {
        position: absolute;
        width: 300px;
    }
    .right-side_home-page {
        position: absolute;
        width: 500px;
        left: 300px;
    }
    footer {
        position: absolute;
        width: 820px;
    }
    .right-side_c {
        position: absolute;
        font-size: 14px;
        left: 590px;
    }
}

@media screen and (max-width: 768px) and (max-height: 1280px){
    .container {
        width: 768px;
        height: 1024px;
    }
    nav {
        position: fixed;

        width: 768px;
    }
    ul {
        left: 300px;
    }
    input[type="checkbox"], .mask {
        visibility: visible;
        left: 85%;
    }
    .homepage {
        position: absolute;
        width: 600px;

        left: 90px;
        top: 15%;
    }
    .left-side_home-page {
        position: absolute;
        width: 600px;
    }
    .right-side_home-page {
        visibility: hidden;
        width: 0px;
    }
    .right-side_home-page img {
        visibility: hidden;
        width: 0px;
    }
    footer {
        position: absolute;
        width: 768px;
        top: 100%;
    }
    .right-side_c {
        font-size: 14px;
        left: 550px;
    }
}

@media screen and (max-width: 600px) and (max-height: 1280px) {
    .container {
        width: 600px;
        height: 1280px;
    }
    nav {
        position: absolute;
        width: 600px;
        gap: 50px;
    }
    ul {
        display: grid;
        left: 0;
        margin-left: 200px;
    }
    .homepage {
        position: absolute;
        width: 400px;
    }
    .left-side_home-page {
        position: absolute;
        width: 400px;
    }
    footer {
        position: absolute;
        width: 600px;

        top: 100%;
    }
    .right-side_c {
        position: absolute;
        font-size: 10px;
        left: 450px;
        top: 13px;
    }
}

@media screen and (max-width: 480px) and (max-height: 1280px){
    .container {
        width: 480px;
        height: 1280px;
    }
    nav {
        position: fixed;

        width: 480px;
    }
    ul {
        left: -50px;
    }
    .homepage {
        position: absolute;
        left: 40px;
    }
    footer {
        position: absolute;
        width: 480px;
        top: 100%;
    }
    .right-side_c {
        position: absolute;

        left: 300px;
    }
}

@media screen and (max-width: 600px) and (max-height: 960px) {
    .container {
        width: 600px;
        height: 960px;
    }
}

@media screen and (max-width: 430px) and (max-height: 1280px){
    .container {
        width: 430px;
        height: 929px;
    }
    nav {
        position: fixed;
        width: 430px;
    }
    ul {
        left: -80px;
    }
    input[type="checkbox"], .mask {
        visibility: visible;
        left: 75%;
    }
    .homepage {
        position: absolute;
        left: 15px;
    }
    footer {
        position: absolute;
        width: 430px;
        top: 100%;
    }
    .right-side_c {
        position: absolute;
        left: 250px;
    }
}

@media screen and (max-width: 414px) and (max-height: 1280px){
    .container {
        width: 412px;
        height: 846px;
    }
    nav {
        position: fixed;
        width: 412px;
    }
    ul {
        left: -100px;
    }
    input[type="checkbox"], .mask {
        visibility: visible;
        left: 75%;
    }
    .homepage {
        position: absolute;
        width: 380px;
        top: 50px;
    }
    .left-side_home-page {
        position: absolute;
        width: 380px;
    }
    footer {
        position: absolute;
        width: 415px;
        top: 100%;
    }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
    .container {
        width: 414px;
        height: 736px;
    }
}

@media screen and (max-width: 390px) and (max-height: 1280px){
    .container {
        width: 390px;
        height: 844px;
    }
    nav {
        position: fixed;
        width: 390px;
    }
    ul {
        left: -110px;
    }
    input[type="checkbox"], .mask {
        visibility: visible;
        left: 75%;
    }
    .homepage {
        position: absolute;
        width: 360px;
        left: 15px;
    }
    .left-side_home-page {
        position: absolute;
        width: 360px;
    }
    footer {
        position: absolute;
        width: 390px;
        top: 100%;
    }
    .right-side_c {
        position: absolute;
    }
}

@media screen and (max-width: 384px) and (max-height: 1280px){
    .container {
        width: 385px;
        height: 854px;
    }
    nav {
        position: fixed;
        width: 385px;
    }
    input[type="checkbox"], .mask {
        visibility: visible;
        left: 75%;
    }
    .homepage {
        position: absolute;
        width: 350px;
        left: 15px;
    }
    .left-side_home-page {
        position: absolute;
        width: 350px;
    }
    footer {
        position: absolute;
        width: 385px;
        top: 100%;
    }
    .right-side_c {
        position: absolute;
        font-size: 8px;
        left: 260px;
    }
}

@media screen and (max-width: 393px) and (max-height: 851px) {
    .container {
        width: 393px;
        height: 851px;

    }
    nav {
        position: fixed;
        width: 393px;
    }
    footer {
        position: absolute;
        width: 393px;
    }
}

@media screen and (max-width: 384px){
    nav {
        position: fixed;
        width: 384px;
    }
    
}

@media screen and (max-width: 375px) and (max-height: 1280px){
    .container {
        width: 375px;
        height: 667px;
    }
    nav {
        position: fixed;
        width: 375px;
    }
    li {
        left: -550px;
    }
    footer {
        position: absolute;
        width: 375px;
        top: 100%;
    }
    .right-side_c {
        position: absolute;
        left: 250px;
    }
}

@media screen and (max-width: 360px) and (max-height: 1280px){
    .container {
        width: 360px;
        height: 760px;
    }
    .left-side_logo-name {
        top: 35px;
        left: 10px;
    }
    nav {
        position: fixed;

        width: 360px;
    }
    ul {
        left: -120px;
    }
    input[type="checkbox"], .mask {
        visibility: visible;
        left: 70%;
    }
    .homepage {
        position: absolute;
        left: 60px;
        
        width: 250px;
    }
    .left-side_home-page {
        position: absolute;
        width: 250px;

        gap: 24px;
    }
    .left-side_home-page h1 {
        position: absolute;
        top: 100px;
    }
    footer {
        position: absolute;
        width: 360px;
        top: 100%;
    }
    .left-side_social-links {
        position: absolute;
        width: 140px;

        font-size: 20px;

        gap: 6px;
        left: 0%;

        display: flex;
    }
    .right-side_c {
        position: absolute;
        left: 230px;
    }
}

/* Galaxy Note3 */

@media screen and (max-width: 360px) and (max-height: 640px) {
    .container {
        width: 360px;
        height: 640px;
    }
    footer {
        position: absolute;
        width: 360px;
    }
}

/* iphone 5 */

@media screen and (max-width: 320px){
    .container {
        width: 320px;
        height: 568px;
    }
    nav {
        position: fixed;
        width: 320px;
    }
    ul {
        left: -150px;
    }
    footer {
        position: absolute;
        width: 320px;
    }
    .right-side_c {
        position: absolute;
        left: 180px;
    }
    .left-side_home-page {
        height: 500px;
    }
    .homepage {
        height: 500px;
    }
}