nav {
    position: absolute;

    width: 1440px;
    height: 60px;

    transform: translate(0.3s);
    transition: 0.3s;
    background-color: #000000;
}

ul {
    position: absolute;
    display: flex;

    top: 15px;
    left: 80%;

    gap: 24px;

    font-weight: 400;
    font-size: 25px;

    transform: translate(0.5s);
    transition: 0.5s;
}

li {
    color: white;
    transition: .5s;
}

ul li:hover{
    background:#C778DD;
    transition: .5s;
}

input[type="checkbox"] {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 1;
    margin-left: 20px;
    margin-top: 20px;
    visibility: hidden;
}


.mask {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    z-index: 2;
    color: black;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
}

input[type="checkbox"]:checked ~  nav {
    transform: translateY(0px);
}
input[type="checkbox"]:checked ~  .left-side_logo-name {
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .skillspage {
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .homepage {
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .portfolio-group {
    visibility: hidden;
}
input[type="checkbox"]:checked ~ footer {
    visibility: hidden;
}

/* logo-name */

.left-side_logo-name {
    position: absolute;

    width: 200px;
    height: 40px;
    
    top: 10px;

    color: white;

    display: flex;
    z-index: 3;
}

.left-side_logo-name img {
    
    width: 48px;
    height: 40px;
}

.left-side_logo-name span {
    font-size: 40px;
    line-height: 35px;
}

@media (max-width: 768px) {

    .container {
        height: 1000px;
    }
    .left-side_logo-name {
        position: fixed;
        top: 35px;
        left: 30px;
    }
    input[type="checkbox"], .mask {
        position: fixed;
        visibility: visible;
        left: 80%;
    }
    nav {
        transform: translateY(-1400px);
        height: 100vh;
        text-align: center;
        width: 768px;
    }
    ul {
        position: absolute;
        display: block;
        text-align: center;
        color: white;
        top: 20%;
    }
    li {
        margin-top: 50px;
        font-size: 30px;
        text-align: center;
        color: white;
        left: -350px;
    }
}