@media screen and (max-width: 1200px) {
    main {
        width: 1200px;
    }
}

@media screen and (max-width: 1024px) {
    main {
        width: 1024px;
    }
}

@media screen and (max-width: 900px) {
    main {
        width: 900px;
    }
    .about-me {
        width: 900px;
    }
    .skills {
        width: 900px;
    }
    .rightside_skills {
        width: 900px;
    }
    .cards {
        padding: 30px 30px;
    }
    .portfolio {
        width: 900px;
    }
    .portfolio_card1 {
        width: 900px;
    }
    .portfolio_card2 {
        width: 900px;
    }
    .portfolio_card3{
        width: 900px;
    }
    .top-text_portfolio {
        width: 900px;
    }
}

@media screen and (max-width: 790px) {
    /* html, body {
        width: 790px;
        height: 883px;
    } */
    main {
        width: 790px;
    }
    nav {
        display: none;
        width: 790px;
        height: 100vh;
        background-color: gray;
    }
    .nav {
        display: none;
        height: 300vh;
        width: 790px;
    }
    input[type="checkbox"], .fa-bars {
        display: flex;
    }
    ul {
        /* margin-bottom: 270%; */
        margin-left: 40%;
        display: block;
        border: none;
    }
    li {
        padding: 40px;
        font-weight: 900;
    }
    footer {
        width: 790px;
    }
    .about-me {
        width: 790px;
    }
    .skills {
        width: 790px;
    }
    .rightside_skills {
        width: 790px;
    }
    .cards {
        padding: 30px 30px;
    }
    .portfolio {
        width: 790px;
    }
    .portfolio_card1 {
        width: 790px;
    }
    .portfolio_card2 {
        width: 790px;
    }
    .portfolio_card3{
        width: 790px;
    }
    .top-text_portfolio {
        width: 790px;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 600px;
    }
    .about-me {
        width: 600px;
    }
    .nav {
        position: fixed;
        height: 300vh;
        width: 600px;
    }
    .rightside_about-me {
        position: relative;
        ;
    
        width: 300px;
        height: 600px;
    
        float: right;
    }
    .rightside_about-me img{
        position: relative;
        ;
    
        width: 300px;
        height: 600px;
    
        float: right;
    }
    .skills {
        width: 600px;
    }
    .rightside_skills {
        width: 400px;
    }
    .cards {
        padding: 30px 30px;
        width: 400px;
    }
    .portfolio {
        width: 600px;
    }
    .portfolio_card1 {
        width: 600px;
    }
    .top-text_portfolio {
        width: 600px;
    }
    .portfolio_card1 img {
        width: 300px;
    }
    .portfolio_card2 {
        width: 600px;
    }
    .portfolio_card2 img {
        width: 300px;
    }
    .portfolio_card3 {
        width: 600px
    }
    .portfolio_card3 img {
        width: 300px;
    }
    footer {
        width: 600px;
    }
}

@media screen and (max-width: 480px) {
    main {
        width: 480px;
    }
    .about-me {
        width: 480px;
    }
    .leftside_about-me {
        width: 150px;
    }
    .nav {
        width: 480px;
    }
    input[type="checkbox"], .fa-bars {
        display: flex;
        margin-left: 80%;
    }
    .skills {
        position: relative;
        width: 480px;
        top: 100px;
    }
    .rightside_skills {
        width: 350px;
        margin-left: 5%;
    }
    .cards {
        width: 350px;
    }
    .portfolio {
        width: 480px;
    }
    .top-text_portfolio {
        width: 480px;
    }
    .portfolio_card1 {
        width: 480px;
    }
    .portfolio_card1 img {
        width: 300px;
    }
    .portfolio_card2 {
        width: 480px;
    }
    .portfolio_card2 img {
        width: 300px;
    }
    .portfolio_card3 {
        width: 480px;
    }
    .portfolio_card3 img {
        width: 300px;
    }
    .aboutside_card3 h1{
        font-size: 25px;
    }
    footer {
        width: 480px;
    }
    .rightside_cc {
        width: 150px;
        height: 30px;
    }
    .rightside_cc h1{
        font-size: 1px;
    }
}

@media screen and (max-width: 414px) {
    main {
        width: 414px;
    }
    .nav {
        width: 100%;
    }
    .nav ul {
        position: relative;
        left: -30px;
    }
    .about-me {
        width: 414px;
    }
    .rightside_about-me img {
        width: 200px;
    }
    .skills {
        width: 414px;
    }
    .rightside_skills {
        width: 280px;
    }
    .cards {
        width: 280px;
    }
    .portfolio {
        position: relative;
        width: 414px;
    }
    .portfolio_card1 {
        width: 414px;
    }
    .portfolio_card2 {
        width: 414px;
    }
    .portfolio_card3 {
        width: 414px;
    }
    .aboutside_card1 {
        display: none;
    }
    .top-text_portfolio {
        width: 414px;
    }
    .imgside_card1 {
        width: 414px;
    }
    .imgside_card1 img {
        width: 414px;
    }
    .aboutside_card2 {
        display: none;
    }
    .imgside_card2 {
        width: 414px;
    }
    .imgside_card2 img {
        width: 414px;
    }
    .aboutside_card3 {
        display: none;
    }
    .imgside_card3 {
        width: 414px;
    }
    .imgside_card3 img {
        width: 414px;
    }
    footer {
        width: 414px;
    }
}