@media (max-width: 1206px) {
    .section-one_leftside-topText > h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 985px) {

}

@media (max-width: 768px) {
    .section-one_leftside-topText > h1 {
        font-size: 1rem;
    }
    .section-two_bottom-skill-conainer {
        width: 90% !important;
    }
}

@media (max-width: 580px) {
    .rightside_footer > p {
        font-size: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 490px) {
    .rightside_footer > p {
        display: none;
    }
}