* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: var(--sanfont);
}

:root {
    --sanfont: 'Playfair Display', serif;;
}

html, body {
    background-color: #000000;
}


.container {

    width: 1440px;
    height: 910px;

    margin: 0 auto;
}

/* Skillspage */

.skillspage {
    position: relative;


    width: 1100px;
    height: 600px;

    left: 15%;
    top: 30%;
}

/* Left-side */

.left-side_skills-page {
    position: absolute;


    width: 400px;
    height: 600px;
}

.left-side_skills-page span {
    color: white;

    font-size: 40px;
    line-height: 100px;
}

.left-side_skills-page hr {
    position: absolute;
    width: 100px;
    color: #C778DD;

    top: 65px;
}

.codingabout {
    position: absolute;
    border: 1px solid ;
    
    width: 400px;
    height: 120px;

    top: 220px;
}

.left-side_codingabout {
    position: absolute;

    width: 78px;
    height: 48px;
}

.left-side_codingabout {
    width: 78px;
    height: 48px;
}

/* Right-side */

.right-side_codingabout {
    position: absolute;


    width: 322px;
    height: 120px;

    left: 20%;
}

.right-side_codingabout h1 {
    font-size: 25px;
    color: white;
}

.right-side_codingabout p {
    position: absolute;
    font-size: 16px;
    color: gray;
    
    top: 50px;
}

/* right-side_skills-page */

.right-side_skills-page {
    position: absolute;

    width: 700px;
    height: 600px;

    left: 36.5%;

    display: grid;
}

.right-side_skills-page h1{
    position: absolute;
    color: white;

    left: 5%;
    top: 5%;
}

.html-skills {
    position: absolute;


    width: 500px;
    height: 70px;

    left: 5%;
    top: 20%;
}

.html-skills h1 {
    position: absolute;
    font-size: 20px;
}

.html-skills span {
    position: absolute;
    font-size: 20px;

    color: white;

    top: 5%;
    left: 90%;
}

.html-skills_out {
    position: absolute;
    border: 1px solid gray;

    width: 450px;
    height: 8px;

    top: 50%;
    left: 5%;

    border-radius: 15px;
}

.html-skills_in {
    position: absolute;
    border: 2px solid #C778DD;

    width: 93%;
    height: 1px;
    
    top: 1px;
}

/* CSS-Skills */

.css-skills {
    position: absolute;


    width: 500px;
    height: 70px;

    left: 5%;
    top: 40%;
}

.css-skills h1 {
    position: absolute;
    font-size: 20px;
}

.css-skills span {
    position: absolute;
    font-size: 20px;

    color: white;

    top: 5%;
    left: 90%;
}

.css-skills_out {
    position: absolute;
    border: 1px solid gray;

    width: 450px;
    height: 8px;

    top: 50%;
    left: 5%;

    border-radius: 15px;
}

.css-skills_in {
    position: absolute;
    border: 2px solid #C778DD;

    width: 87%;
    height: 1px;
    
    top: 1px;
}

/* Js-Skills */

.js-skills {
    position: absolute;


    width: 500px;
    height: 70px;

    left: 5%;
    top: 60%;
}

.js-skills h1 {
    position: absolute;
    font-size: 20px;
}

.js-skills span {
    position: absolute;
    font-size: 20px;

    color: white;

    top: 5%;
    left: 90%;
}

.js-skills_out {
    position: absolute;
    border: 1px solid gray;

    width: 450px;
    height: 8px;

    top: 50%;
    left: 5%;

    border-radius: 15px;
}

.js-skills_in {
    position: absolute;
    border: 2px solid #C778DD;

    width: 6%;
    height: 1px;
    
    top: 1px;
}