* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --sanfont: 'Playfair Display', serif;;
}

html, body {
    background-color: #000000;
}

.left-side_logo-name {
    position: relative;
}

.container {
    width: 1440px;
    height: 910px;

    margin: 0 auto;
}

/* Homepage */

.homepage {
    position: relative;

    width: 1000px;
    height: 600px;

    display: flex;

    left: 15%;
    top: 30%;
}

/* Left-side */

.left-side_home-page {
    position: absolute;

    width: 400px;
    height: 600px;
}

.left-side_home-page h1{
    position: absolute;

    font-size: 40px;
    color: white;

    left: 10%;
    top: 30%;
}

.left-side_home-page span {
    color: #C778DD;
}

.mini-about p{
    position: absolute;

    color: gray;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    
    top: 50%;
    left: 10%;
}

.contact_btn {
    position: absolute;
    border: 1px solid #C778DD;
    display: flex;

    width: 140px;
    height: 40px;

    top: 70%;
    left: 10%;

    text-align: center;
    justify-content: center;
}

.contact_btn p {
    color: white;
    font-size: 26px;
    line-height: 40px;

}

/* Right-side */

.right-side_home-page {
    position: absolute;

    width: 600px;
    height: 600px;

    left: 40%;
}

.right-side_home-page img {
    position: absolute;
    
    width: 600px;
    height: 400px;

    top: 10%;
}